@font-face {
    font-family: "MrRobot";
    src: url("Assets/Fonts/MR-ROBOT.woff") format("woff");
}

* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    background: rgb(29,0,0);
    background: linear-gradient(90deg, rgba(29,0,0,1) 0%, rgba(136,0,0,1) 50%, rgba(29,0,0,1) 100%);
}

.page-title {
    font-family: MrRobot;
    font-weight: normal;
    text-align: center;
    font-size: 6em;
    margin: 50px 10px 20px 10px;
}

.game-info-container {
    grid-column: 1 / -1;
    display: none;
    justify-content: space-between;
}

.game-info {
    font-family: MrRobot;
    font-size: 2em;
}

[placeholder]::-webkit-input-placeholder { color: rgba(255,255,255,.8); text-align: center; }
[placeholder]:hover::-webkit-input-placeholder { color: rgba(255,255,255,.4); }
[placeholder]:focus::-webkit-input-placeholder { color: transparent; }

[placeholder]::-moz-placeholder { color: rgba(255,255,255,.8); }
[placeholder]:hover::-moz-placeholder { color: rgba(255,255,255,.4); }
[placeholder]:focus::-moz-placeholder { color: transparent; }

[placeholder]:-ms-input-placeholder { color: rgba(255,255,255,.8); }
[placeholder]:hover:-ms-input-placeholder { color: rgba(255,255,255,.4); }
[placeholder]:focus:-ms-input-placeholder { color: transparent; }

.user-form-container {
    text-align: center;
    vertical-align: middle;
    margin: 20px 0px 0px 0px;

}

.user-form-container input {
    width: 400px;
    padding: 8px 12px 10px 12px;
    border: 1px solid rgba(0,0,0,.5);
    background: rgba(0,0,0,.25);
    text-align: center;
    color: rgba(255,255,255,1);
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item {
    margin: 20px 10px 0px 0px;
}

.game-start-btn {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    height: 30px;
    width: 100px;
    border-radius: 3px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.game-start-btn:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}

.card {
    position: relative;
    height: 175px;
    width: 125px;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 3px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}
/*
.card.matched .card-value {
    animation: dance 1s linear infinite 500ms;
}
*/
.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    font-family: MrRobot;
    font-weight: normal;
    color: white;
}

.overlay-text-small {
    font-size: .3em;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}


@media(min-width: 1367px) {
    @keyframes overlay-grow {
        from {
            background-color: rgba(0, 0, 0, 0);
            font-size: 0;
        }
        to {
            background-color: rgba(0, 0, 0, .6);
            font-size: 10em;
        }
    }
}

@media(max-width: 1366px) {
    @keyframes overlay-grow {
        from {
            background-color: rgba(0, 0, 0, 0);
            font-size: 0;
        }
        to {
            background-color: rgba(0, 0, 0, .6);
            font-size: 6em;
        }
    }
}

@media(max-width: 900px) {
    @keyframes overlay-grow {
        from {
            background-color: rgba(0, 0, 0, 0);
            font-size: 0;
        }
        to {
            background-color: rgba(0, 0, 0, .6);
            font-size: 4em;
        }
    }
}

@media(max-width: 750px) {
    @keyframes overlay-grow {
        from {
            background-color: rgba(0, 0, 0, 0);
            font-size: 0;
        }
        to {
            background-color: rgba(0, 0, 0, .6);
            font-size: 3em;
        }
    }
}

@media(max-width: 360px) {
    @keyframes overlay-grow {
        from {
            background-color: rgba(0, 0, 0, 0);
            font-size: 0;
        }
        to {
            background-color: rgba(0, 0, 0, .6);
            font-size: 2em;
        }
    }
}

@keyframes dance {
    0%, 100% {
        transform: rotate();
    }
    
    25% {
        transform: rotate(-30deg) ;
    }

    75% {
        transform: rotate(30deg) ;
    }
}

.card-back {
    border-color: #202020;
    background-color: white;
}

.card-front {
    border-color: #202020;
    background-color: white;
    transform: rotateY(180deg);
}

.card-value {
    transition: transform 100ms ease-in-out;
    transform: scale(0.6);
}

.fsociety {
    transition: transform 100ms ease-in-out;
    transform: scale(0.8);
}

.card-back:hover .fsociety {
    transform: scale(0.9);
}

@media (max-width: 600px) {
    .game-container {
        grid-template-columns: repeat(2, auto);
    }

    .game-info-container {
        flex-direction: column;
        align-items: center;
    }
}

.dropdown {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 30px;
    width: 100px;
    background: #f2f2f2;
    border: 1px solid;
    border-color: white #f7f7f7 whitesmoke;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  }
  
  .dropdown:before, .dropdown:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 9px;
    right: 10px;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: #888888 transparent;
    pointer-events: none;
  }
  
  .dropdown:before {
    border-bottom-style: solid;
    border-top: none;
  }
  
  .dropdown:after {
    margin-top: 7px;
    border-top-style: solid;
    border-bottom: none;
  }
  
  .dropdown-select {
    position: relative;
    width: 130%;
    margin: 0;
    padding: 6px 8px 6px 10px;
    height: 28px;
    line-height: 14px;
    font-size: 12px;
    color: #62717a;
    text-shadow: 0 1px white;
    background: #f2f2f2;
    background: rgba(0, 0, 0, 0) !important;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
  }
  
  .dropdown-select:focus {
    z-index: 3;
    width: 100%;
    color: #394349;
    outline: 2px solid #49aff2;
    outline: 2px solid -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  
  .dropdown-select > option {
    margin: 3px;
    padding: 6px 8px;
    text-shadow: none;
    background: #f2f2f2;
    border-radius: 3px;
    cursor: pointer;
  }

.dropdown-dark {
    background: #444;
    border-color: #111111 #0a0a0a black;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-dark:before {
    border-bottom-color: #aaa;
  }
  
  .dropdown-dark:after {
    border-top-color: #aaa;
  }
  
  .dropdown-dark .dropdown-select {
    color: #aaa;
    text-shadow: 0 1px black;
    background: #444;
  }
  
  .dropdown-dark .dropdown-select:focus {
    color: #ccc;
  }
  
  .dropdown-dark .dropdown-select > option {
    background: #444;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  }

/* Table Styles */

  .table-wrapper {
    font-family: Helvetica;
    margin: 0 auto;
}

  .fl-table {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

  .fl-table thead {
    position:relative;
    display: block;
    width:100%;
    overflow-y: scroll;
  }

  .fl-table tbody {
    display: block; 
    position:relative;
    width:100%; 
    height: auto;
    max-height: 200px;
    overflow-y:scroll;
}

  .fl-table th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:18px;
    font-weight: 100;
    padding: 15px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}

.fl-table tr {
    width: 100%;
    display:flex;
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size: 12px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }

  .fl-table td, .fl-table th {
    flex-basis:100%;
    flex-grow:2;
    display: block;
    padding: 1rem;
    text-align: center;
  }

  .fl-table th:first-child {
    border-top-left-radius:3px;
  }
   
  .fl-table th:last-child {
    border-top-right-radius:3px;
    border-right:none;
  }
   
  .fl-table tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
  }
   
  .fl-table tr:first-child {
    border-top:none;
  }
  
  .fl-table tr:last-child {
    border-bottom:none;
  }
   
  .fl-table tr:nth-child(odd) td {
    background:#EBEBEB;
  }
   
  .fl-table tr:nth-child(odd):hover td {
    background:#4E5066;
  }
  
  .fl-table tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }
   
  .fl-table tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }
   
  .fl-table td {
    background:#FFFFFF;
    padding:9px;
    text-align:center;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
  }
  
  .fl-table td:last-child {
    border-right: 0px;
  }
