@font-face {
    font-family: "MrRobot";
    src: url("Assets/Fonts/MR-ROBOT.woff") format("woff");
}

* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    background: rgb(29,0,0);
    background: linear-gradient(90deg, rgba(29,0,0,1) 0%, rgba(136,0,0,1) 50%, rgba(29,0,0,1) 100%);
}

.page-title {
    font-family: MrRobot;
    font-weight: normal;
    text-align: center;
    font-size: 6em;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info {
    font-family: MrRobot;
    font-size: 2em;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item {
    margin: 5px;
}

.game-start-btn {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.game-start-btn:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}

.card {
    position: relative;
    height: 175px;
    width: 125px;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 3px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}
/*
.card.matched .card-value {
    animation: dance 1s linear infinite 500ms;
}
*/
.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    font-family: MrRobot;
    font-weight: normal;
    color: white;
}

.overlay-text-small {
    font-size: .3em;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}


@media(min-width: 1367px) {
    @keyframes overlay-grow {
        from {
            background-color: rgba(0, 0, 0, 0);
            font-size: 0;
        }
        to {
            background-color: rgba(0, 0, 0, .6);
            font-size: 10em;
        }
    }
}

@media(max-width: 1366px) {
    @keyframes overlay-grow {
        from {
            background-color: rgba(0, 0, 0, 0);
            font-size: 0;
        }
        to {
            background-color: rgba(0, 0, 0, .6);
            font-size: 6em;
        }
    }
}

@media(max-width: 900px) {
    @keyframes overlay-grow {
        from {
            background-color: rgba(0, 0, 0, 0);
            font-size: 0;
        }
        to {
            background-color: rgba(0, 0, 0, .6);
            font-size: 4em;
        }
    }
}

@media(max-width: 750px) {
    @keyframes overlay-grow {
        from {
            background-color: rgba(0, 0, 0, 0);
            font-size: 0;
        }
        to {
            background-color: rgba(0, 0, 0, .6);
            font-size: 3em;
        }
    }
}

@media(max-width: 360px) {
    @keyframes overlay-grow {
        from {
            background-color: rgba(0, 0, 0, 0);
            font-size: 0;
        }
        to {
            background-color: rgba(0, 0, 0, .6);
            font-size: 2em;
        }
    }
}

@keyframes dance {
    0%, 100% {
        transform: rotate();
    }
    
    25% {
        transform: rotate(-30deg) ;
    }

    75% {
        transform: rotate(30deg) ;
    }
}

.card-back {
    border-color: #202020;
    background-color: white;
}

.card-front {
    border-color: #202020;
    background-color: white;
    transform: rotateY(180deg);
}

.card-value {
    transition: transform 100ms ease-in-out;
    transform: scale(0.6);
}

.fsociety {
    transition: transform 100ms ease-in-out;
    transform: scale(0.8);
}

.card-back:hover .fsociety {
    transform: scale(0.9);
}

@media (max-width: 600px) {
    .game-container {
        grid-template-columns: repeat(2, auto);
    }

    .game-info-container {
        flex-direction: column;
        align-items: center;
    }
}
